/* Global  */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
:root {
  --color-gray-800: #201d29;
  --color-pink-700: #d459ab;
  --color-gray-300: #b1acb9;
  --color-gray-700: #403c4a;
  --color-dark-blue: #0d314a;
  --color-red: #171321;
  --color-pink: #961d6e;
  --color-yellow: #ffe742;
  --color-text-heading: #ffffff;
  --color-gray-100: #d4d0e0;
  --color-footer-bg: var(--color-gray-800);
  --color-footer-border: var(--color-gray-700);
  --color-text: var(#a49fac);
}

body {
  background-color: var(--color-red);
}

/* start header */
.color-red {
  color: var(--color-red) !important;
}
.nav {
  border-bottom: 5px solid var(--color-pink);
}
.navbar-toggler-icon {
  background-color: white;
  border-radius: 3px;
}
/* end header */
/* strat landing */
.landing {
  color: var(--color-yellow);
  height: calc(100vh - 61px);

  font-weight: bold;
}
.landing .second-text {
  background-color: var(--color-yellow);
  color: var(--color-red);
}
/* end landing */

/* start form calc age */
.form-age {
  background-color: var(--color-dark-blue);
  color: var(--color-text-heading);
  height: calc(100vh - 61px);
}
.gray-color {
  color: var(--color-gray-100);
}
.bg-pink {
  background-color: var(--color-pink-700);
  color: #171321;
  border: 0;
  font-size: 1.125rem;
  font-weight: 900;
  line-height: 0.75;
  margin-top: 0.75rem;
  padding: 0.625rem 0.75rem;
}
.form-age .bg-pink:hover {
  border: 5px solid black;
}

.sumbite-btn {
  background: var(--color-pink-700);
  margin: 0.4rem;
  padding: 0.625rem 0.75rem;
  font-size: 1.125rem;
  font-weight: 900;
  border: none;
}

@media (min-width: 768px) {
  .w-md-50 {
    width: 50%;
  }
}
/* end form calc age */

/* start frindes page */
@media (min-width: 768px) {
  .me-md {
    width: 350px;
  }
}
@media (min-width: 992px) {
  .me-md {
    width: 450px;
  }
}
@media (min-width: 1028px) {
  .me-md {
    width: 375px;
  }
}
/* end  frindes page */
/* start footer  */
footer {
  background: var(--color-footer-bg);
  border-top: 1px solid var(--color-footer-border);
  color: #a49fac;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  justify-content: space-between;
  margin: 0;
  padding: 1rem 5vw;
}
footer a {
  color: #a49fac;
  padding: 5px;
}
/* end footer */
/* start show all frinde*/
.card-frinde {
  background: #171321;
  border-radius: 0.25rem;
  margin: -5rem 0 0;
  padding: 5.25rem 1.5rem 1.5rem;
}
.form-age-edite-add {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.blue-bg {
  background-color: #171321;
}
/* end show all frinde*/
